extend layout
block content
    table(id="content_table", width="500")
        thead
            tr
                th Photo
                th Name
                th Breed
                th Details
        tbody
            - each item in data
                tr
                    td

                        a(href="/get/#{item.name}")
                            img(src= "http://www.nebarisoftware.com/puppies/#{item.img_url}.jpg", width="150px", title="Click here to see details of dog")
                    td= item.name
                    td= item.breed
                    td
                        a(href="/get/#{item.name}") See Details


